body {
    text-align: center;
    font-family: 'Playfair Display', serif;
    background-image: url(./assets/marble\ background.jpeg);
    background-size: 120%;
    height: 95vh;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 95vh;
}

#header {
    display: flex !important;
    justify-content: space-evenly !important;
    align-items: center !important;
}

h1 {
    font-size: 30px;
}

.date {
    width: 96px;
    text-align: center;
}

.show {
    width: 111px;
}

.hidden {
    display: none;
}

.ideaContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

button {
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    width: fit-content;
    height: 50px;
    margin: 30px auto 0px auto;
}

@media screen and (max-width: 393px) {
    #container {height: 85vh;
    }
}